[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-describe = "*"

[packages]
deepdiff = "*"
libimobiledevice = "*"
pyopenssl = "*"

[requires]
python_version = "3.8"
